<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/spicy.css">

	<title>Spicy Home</title>
</head>

<body>
	 <div id="fb-root"></div>
    <script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0&appId=2728215307247679&autoLogAppEvents=1"></script>
	<div class="container">
		<h1 class="title_header">HOME</h1>


		</div>
		<div class="home-container">
		<div class="character_placement">
			<img src="/images/character-home.png"/>
		</div>
		<div style="text-align: center">
			<h2 id="name">Generic Name</h2>
		</div>

		<div class="progress-container">
		<div class="progress" style="width: 200px;">
			<!-- <div class="progress-bar bg-success xp_bar" role="progressbar" style="width: 25%" aria-valuenow="25" -->
			<div id="xp" class="progress-bar xp_bar" role="progressbar" style="width: 25%" aria-valuenow="25"
				aria-valuemin="0" aria-valuemax="100"></div>
		</div>

			<h3 id="level" style="color: white">Level Progress</h3>
		</div>
		<div class="row">
			<div class="col text-center">
				<button style="width: 200px" onclick="location.href='/battle';" type="button" class="btn btn-dark btn-lg homescreen-button">BATTLE</button>
			</div>
		</div>
		<div>
			<div class="col text-center">
				<button style="width: 200px; margin-top: 10px;" type="button" onclick="location.href='/profile';" class="btn btn-dark btn-lg homescreen-button">PROFILE</button>
			</div>
		</div>
		<div>
			<div class="col text-center">
				<button style="width: 90px; font-size: 10px; margin-top: 10px;" type="button" onclick="location.href='/';" class="btn btn-dark btn-lg homescreen-button">LOG OUT</button>
			</div>
		</div>
	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/jquery.js"></script>
		{{> facebook}}
		<script src="/js/index.js"></script>
		<script src="/js/health.js"></script>
</body>

</html>
