<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/spicy.css">


    <title>Spicy Battle</title>
</head>

<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0&appId=2728215307247679&autoLogAppEvents=1"></script>
    <div class="container">

        <div class="spicy_logo" style="text-align: center">
            <img style="width: 300px" src="/images/spicy_battle_logo1.png" />
        </div>
    </div>
    <div class='container'>
        <form method="get" action="/login">
            <div class="form-group" >
                <label style="color: white" for="email">Email Address</label>
                <input style="background: black; border: none;" type="email" class="form-control" id="email" aria-describedby="emailHelp"
                    placeholder="Enter email" name="email">
            </div>
            <div class="form-group">
                <label style="color: white" for="password">Password</label>
                <input style="background: black; border: none;" type="password" class="form-control" id="password" placeholder="Password" name="password">
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label style="color: white" class="form-check-label" for="exampleCheck1">Remember Me</label>
            </div>
            <div class="row">
                <div class="col text-center">
                    <button style="margin: 10px; background: gray; border: none" type="submit" class="btn btn-primary" onclick="location.href='/index';">Submit</button>
                </div>
            </div>
            <div></div>
            <div class='row'>
                <div class="col text-center">
                    <div class="fb-login-button" data-width="" data-size="large" data-button-type="login_with"
                        data-auto-logout-link="false" data-use-continue-as="false" onlogin="checkLoginState()">
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    {{> facebook}}
    <script src="/js/facebook.js"></script>

</body>

</html>
