<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/spicy.css">

	<title>Spicy Profile</title>
</head>

<body>
	<div id="fb-root"></div>
    <script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0&appId=2728215307247679&autoLogAppEvents=1"></script>
			<div class="col-md-auto">
				<h1 class="title_header">PROFILE</h1>
				<h1 id="name" >Generic Name</h1>
			</div>
			<div class="profile-container" style="margin: 0 auto">
				<div class="row">
					<div class="col text-center profile-stats-container">
						<h4 id="age">
							Age: 0
						</h4>
						<h4 id="sex">
							Sex: 0
						</h4>
						<h4 id="weight">
							Weight: 0
						</h4>
						<h4 id="height">
							Height: 0
						</h4>
					</div>
					</div>
						<body style="text-align:center;" id="body">
					<div>
						<div class="col text-center ">
							<input class="profile-field" type='text' placeholder="Your Age" id='agebar' />
						</div>
					</div>
					<div>
						<div class="col text-center">
							<input class="profile-field" type='text' placeholder="Your Sex"id='sexbar' />
						</div>
					</div>

					<div>
						<div class="col text-center">
							<input class="profile-field" type='text' placeholder="Your Weight"id='weightbar' />
						</div>
					</div>

					<div>
						<div class="col text-center ">
							<input class="profile-field" type='text' placeholder="Your Height" id='heightbar' />
						</div>
					</div>
				</div>
				<button class="btn btn-dark btn-lg profile-button" onclick="changeValues()">
					Save
				</button>
								<script>
						function changeValues(){
							var inputA = document.getElementById("agebar").value;
							var inputS = document.getElementById("sexbar").value;
							var inputW = document.getElementById("weightbar").value;
							var inputH = document.getElementById("heightbar").value;
							changeWeight(inputW);
							changeHeight(inputH);
							changeAge(inputA);
							changeSex(inputS);
						}
				</script>

				</body>

			<div class="row">
				<div class="col text-center">
					<button style="width: 200px" onclick="location.href='/index';" type="button" class="btn btn-dark btn-lg profile-button">BACK TO HOME</button>
				</div>


			</div>

	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/jquery.js"></script>
		{{> facebook}}
		<script src="/js/facebook.js"></script>
		<script src="/js/profile.js"></script>
</body>

</html>
