<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/spicy.css">

	<title>Spicy Home</title>
	<!-- Google Analytics -->
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-159381533-1', 'auto');
	ga('send', 'pageview');
	</script>
	<!-- End Google Analytics -->
</head>

<body>
	<div class="container">
		<h1 class="title_header" style="margin-bottom: 10px;">Victory</h1>
		<div class="victory-info-container">
			<div class="workout-recap-container">
				<h3 id="pushups-recap"></h3>

				<h3 id="situps-recap"></h3>

				<h3 id="jumpingjacks-recap"></h3>

				<h3 id="squats-recap"></h3>
			</div>
			<h2 style="color:white; text-transform: uppercase">Calories Burned
			</h2>
			<h3 id="calories-burnt-recap"></h3>

			<h2 style="color:white; text-transform: uppercase">Experience Earned
			</h2>
			<h3 id="experience-gained-recap"></h3>
			<h2 style="color:white; text-transform: uppercase" id="level-recap">Level
			</h2>
			<div class="progress" style="width: 200px;">
				<div id="xp-recap" class="progress-bar xp_bar" role="progressbar" style="width: 25%" aria-valuenow="25"
					aria-valuemin="0" aria-valuemax="100"></div>
			</div>


		<div>
			<div class="col text-center">
				<button style="width: 200px; margin-top: 10px;" type="button" onclick="location.href='/index';" class="btn btn-dark btn-lg profile-button">Return to Home</button>
			</div>
		</div>
	</div>
	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/js/victory.js"></script>
</body>

</html>
