@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

h3{
    text-align: center;
    /* background: purple; */
}

.title_header {
    font-size: 50px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    line-height: 117px;
    color: #000000;
    background: red;
}

.character_placement {
    /* Character */
    background: orange;
    margin: 0 auto;
    text-align: center;

}
.character_placement img{
    /* Character */
    height: 350px;
    width: auto;

}
.xp_bar{
  width: 20px;
}

.progress_container{
    /* background: blue; */
    text-align: center;
}

.progress{
  background: black;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button_container{
  text-align: center;
  /* background: red; */
}
