@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

h3{
    text-align: center;
    /* background: purple; */
}
body{
  background: #454545;
  overflow: hidden;

}
.spicy_logo{
  margin-top: 80px;
  margin-bottom: 80px;
}
.title_header {
    font-size: 50px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    text-transform:uppercase;
    line-height: 75px;
    color: #e0dfdc;
    letter-spacing: .1em;
    text-shadow:
      0 -1px 0 #2e2e2e,
      0 1px 0 #2c2c2c,
      0 2px 0 #2a2a2a,
      0 3px 0 #282828,
      0 4px 0 #262626,
      0 5px 0 #242424,
      0 6px 0 #222,
      0 7px 0 #202020,
      0 8px 0 #1e1e1e,
      0 9px 0 #1c1c1c,
      0 10px 0 #1a1a1a,
      0 12px 0 #181818,
      0 12px 0 #161616,
      0 12px 0 #141414,
      0 13px 0 #121212,
      0 19px 25px rgba(0, 0, 0, 0.9);
    margin-bottom: -15px;
    margin-top: 5px;
    /* background: red; */
}
.exercise_title_header {
    font-size: 50px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    text-transform:uppercase;
    line-height: 60px;
    color: #e0dfdc;
    letter-spacing: .1em;
    text-shadow:
      0 -1px 0 #2e2e2e,
      0 1px 0 #2c2c2c,
      0 2px 0 #2a2a2a,
      0 3px 0 #282828,
      0 4px 0 #262626,
      0 5px 0 #242424,
      0 6px 0 #222,
      0 7px 0 #202020,
      0 8px 0 #1e1e1e,
      0 9px 0 #1c1c1c,
      0 10px 0 #1a1a1a,
      0 12px 0 #181818,
      0 12px 0 #161616,
      0 12px 0 #141414,
      0 13px 0 #121212,
      0 19px 25px rgba(0, 0, 0, 0.9);
    margin-bottom: 10px;
    margin-top: 5px;
    /* background: red; */
}
.profile_title_header {
    font-size: 50px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    text-transform:uppercase;
    line-height: 75px;
    color: #e0dfdc;
    letter-spacing: .1em;
    text-shadow:
      0 -1px 0 #2e2e2e,
      0 1px 0 #2c2c2c,
      0 2px 0 #2a2a2a,
      0 3px 0 #282828,
      0 4px 0 #262626,
      0 5px 0 #242424,
      0 6px 0 #222,
      0 7px 0 #202020,
      0 8px 0 #1e1e1e,
      0 9px 0 #1c1c1c,
      0 10px 0 #1a1a1a,
      0 12px 0 #181818,
      0 12px 0 #161616,
      0 12px 0 #141414,
      0 13px 0 #121212,
      0 19px 25px rgba(0, 0, 0, 0.9);
    margin-bottom: 5px;
    margin-top: 5px;
    /* background: red; */
}
#name{
  color: white;
}

.character_placement {
    /* Character */
    /* background: orange; */
    margin: 0 auto;
    text-align: center;

}
.character_placement img{
    /* Character */
    margin-top: 10px;
    height: 230px;
    width: auto;

}

.progress_container{
    /* background: blue; */
    text-align: center;
}

.progress{
  background: ;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 5px;
  border-color: white;

}
.monster_hp,
.xp_bar,
.hp_bar{

  background: #2abb2a;
}

.monster-hp{
  width: 150px;
  margin-left: 130px;

}


.button_container{
  text-align: center;
  /* background: red; */
}
.window{
  margin: 30px auto 0 auto;
  height: 300px;
  width: 300px;
  text-align: center;
background-position: right; background-repeat: repeat;
  background:url('/images/battle-bg-8.png') center;
  background-blend-mode:hard-light;
  border-radius: 20px;
  border: none;

}
.window_frame{
  margin: 30px auto 10px auto;
  height: 300px;
  width: 300px;
  border-radius: 20px;
  background: #434343;
  background: rgb(74,74,74);
  background: linear-gradient(0deg, rgba(74,74,74,1) 0%, rgba(67,67,67,1) 100%);
  box-shadow:  5px 5px 10px #363636,
               -5px -5px 10px #505050;

}

.character_battle_placement{
    /* Character */
    height: 140px;
    width: 85px;
    margin-top: 10px;
    margin-right: 170px;

}
.monster_battle_placement{
    /* Monster */
    height: 100px;
    width: 110px;
    margin-left: 100px;
    margin-top: 0px;
    object-position: 10px 10px;

}


.homescreen-button{
  font-weight: bold;
  margin: 10px;
  border: none;
  border-radius: 33px;
  background: rgb(255,0,0);
background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(217,98,18,1) 100%);
  box-shadow:  8px 8px 16px #2B2B2B,
               -8px -8px 16px #313131;

}
.homescreen-button:hover{
  background: rgb(74,74,74);
  background: linear-gradient(0deg, rgba(74,74,74,1) 0%, rgba(67,67,67,1) 100%);
  text-shadow: 0px 2px 1px black;

  color: rgb(255,0,0);;
}

.exercise-button{
  height: 60px;
  font-weight: bold;
  margin: 10px 0 10px 0;
  border: none;
  border-radius: 40px;
  background: rgb(255,0,0);
  background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(217,98,18,1) 100%);
  box-shadow:  8px 8px 16px #2B2B2B,
               -8px -8px 16px #313131;
}
.exercise-button:hover{
  background: rgb(74,74,74);
  background: linear-gradient(0deg, rgba(74,74,74,1) 0%, rgba(67,67,67,1) 100%);
  text-shadow: 0px 2px 1px black;

  color: rgb(255,0,0);
}
.profile-button{
  border:none;
  font-weight: bold;
  font-size: 15px;
  border-radius: 33px;
  background: rgb(255,0,0);
  background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(255,132,0,1) 100%);
  box-shadow:  8px 8px 16px #2B2B2B,
               -8px -8px 16px #313131;
}
.profile-button:hover{
  background: rgb(74,74,74);
  background: linear-gradient(0deg, rgba(74,74,74,1) 0%, rgba(67,67,67,1) 100%);
  text-shadow: 0px 2px 1px black;
  color: rgb(255,0,0);
}

.alt-profile-button{
  border:none;
  font-weight: bold;
  font-size: 15px;
  border-radius: 33px;
  background: rgb(69,69,69);
  background: linear-gradient(0deg, rgba(69,69,69,1) 0%, rgba(120,120,120,1) 100%);
  box-shadow:  8px 8px 16px #2B2B2B,
               -8px -8px 16px #313131;
}
.alt-profile-button:hover{
  background: rgb(74,74,74);
  background: linear-gradient(0deg, rgba(74,74,74,1) 0%, rgba(67,67,67,1) 100%);
  text-shadow: 0px 2px 1px black;
  color: rgb(255,0,0);
}

.battle-button{
  font-weight: bold;
  margin: 10px;
  border: none;
  border-radius: 33px;
  background: rgb(255,0,0);
  background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(255,132,0,1) 100%);
  box-shadow:  8px 8px 16px #2B2B2B,
               -8px -8px 16px #313131;
}

.battle-button:hover{
  background: rgb(74,74,74);
  background: linear-gradient(0deg, rgba(74,74,74,1) 0%, rgba(67,67,67,1) 100%);
  text-shadow: 0px 2px 1px black;
  color: rgb(255,0,0);
}

.profile-field{
  margin-top: 10px;
  text-indent: 10px;
  padding: 10px;
  background: #454545;
  border-bottom-color: gray;
  border-bottom-width: thick;
  border-right: none;
  border-left: none;
  border-top: none;
  /* border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px; */
  border-left-color: darkgray;
  border-right-color: darkgray;
  border-top-color: darkgray;
  border-radius: 10px;
  color: rgba(255,132,0,1);
  box-shadow:  8px 8px 16px #2B2B2B,
               -8px -8px 16px #313131;

}
.profile-field:focus{
  background: darkgray;
  border-bottom-color: rgba(255,132,0,1);
  color: black;

}
.origin-profile-container button{
  margin-top: 10px;
  margin-bottom: 10px;
}
.alt-profile-container button{
  margin-top: 10px;
  margin-bottom: 15px;
}
.profile-field-alt{
  color: white;
  background: black;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
  text-indent: 10px;
  padding: 10px;
  width: 150px;

}
.profile-container{
  width: 325px;
  height: 560px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  border-radius: 33px;
  background: linear-gradient(0deg, rgba(43,43,43,1) 0%, rgba(57,57,57,1) 100%);
  box-shadow:  5px 5px 10px #363636,
               -5px -5px 10px #505050;

}
.home-container{
  margin: 30px auto 0 auto;
  width: 325px;
  height: 550px;
  padding-top: -50px;
  padding-bottom: 10px;
  border: none;
  border-radius: 33px;
background: linear-gradient(0deg, rgba(43,43,43,1) 0%, rgba(57,57,57,1) 100%);
box-shadow:  5px 5px 10px #363636,
               -5px -5px 10px #505050;

}
.battle-container{
  margin: 30px auto 0 auto;
  width: 100%;
  height: 100%;
  padding-top: -50px;
  padding-bottom: 10px;
  border: none;
  border-top-right-radius: 33px;
  border-top-left-radius: 33px;
background: linear-gradient(0deg, rgba(43,43,43,1) 0%, rgba(57,57,57,1) 100%);
box-shadow:  5px 5px 10px #363636,
               -5px -5px 10px #505050;

}
.exercise-container{
  margin: 10px auto 0 auto;
  width: 325px;
  height: 520px;
  padding-top: 30px;
  padding-bottom: 10px;
  border: none;
  border-radius: 33px;
  background: linear-gradient(0deg, rgba(43,43,43,1) 0%, rgba(57,57,57,1) 100%);
  box-shadow:  5px 5px 10px #363636,
                 -5px -5px 10px #505050;

}
.victory-info-container{
  margin: 10px auto 0 auto;
  width: 340px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
  border: none;
  border-radius: 33px;
  background: linear-gradient(0deg, rgba(43,43,43,1) 0%, rgba(57,57,57,1) 100%);
  box-shadow:  5px 5px 10px #363636,
                 -5px -5px 10px #505050;

}
.workout-recap-container{
  margin: -10px auto 20px auto;
  width: 300px;
  height: 200px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  border: none;
  border-radius: 33px;
  background: linear-gradient(0deg, rgba(43,43,43,1) 0%, rgba(57,57,57,1) 100%);
  box-shadow:  8px 8px 16px #222222,
             -8px -8px 16px #343434;

}
.spicy_logo{
  margin: 30px auto 30px auto;
  border-radius: 30px;

  background: rgb(43,43,43);
  background: linear-gradient(0deg, rgba(43,43,43,1) 0%, rgba(57,57,57,1) 100%);
  box-shadow:  5px 5px 10px #363636,
               -5px -5px 10px #505050;
  width: 300px;
  height: 300px;
}
.spicy_logo img{
}
.workout-recap-container h3{
  color: white;
}
.profile-stats-container h4{
  color: white;
}

.form-group label{
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;

}
.login-field{
background: #454545;
border-bottom-color: gray;
border-bottom-width: thick;
border-left-width: 1px;
border-right-width: 1px;
border-top-width: 0.5px;
border-left-color: darkgray;
border-right-color: darkgray;
border-top-color: darkgray;
border-radius: 10px;
color: rgba(255,132,0,1);
box-shadow:  5px 5px 10px #363636,
             -5px -5px 10px #505050;
}
.login-field:focus{
  background: darkgray;
  border-bottom-color: rgba(255,132,0,1);

  color: black;

}
.login-button{
  font-weight: bold;
  width: 200px;
  height: 40px;
  margin: 10px;
  border: none;
  border-radius: 33px;
  background: rgb(43,43,43);
  background: linear-gradient(0deg, rgba(43,43,43,1) 0%, rgba(57,57,57,1) 100%);
  box-shadow:  5px 5px 10px #363636,
               -5px -5px 10px #505050;
  color: white;

}
.login-button:hover{
    text-shadow: 0px 2px 1px black;

    background: rgb(74,74,74);
    background: linear-gradient(0deg, rgba(74,74,74,1) 0%, rgba(67,67,67,1) 100%);
}
::placeholder{
  color: gray;
}
/* login form */
