@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

h3{
    text-align: center;
    /* background: purple; */
}
body{
  background: #454545;
}
.spicy_logo{
  margin-top: 80px;
  margin-bottom: 80px;
}
.title_header {
    font-size: 50px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    text-transform:uppercase;
    line-height: 75px;
    color: #e0dfdc;
    letter-spacing: .1em;
    text-shadow:
      0 -2px 0 #fff,
      0 -1px 0 #2e2e2e,
      0 1px 0 #2c2c2c,
      0 2px 0 #2a2a2a,
      0 3px 0 #282828,
      0 4px 0 #262626,
      0 5px 0 #242424,
      0 6px 0 #222,
      0 7px 0 #202020,
      0 8px 0 #1e1e1e,
      0 9px 0 #1c1c1c,
      0 10px 0 #1a1a1a,
      0 12px 0 #181818,
      0 12px 0 #161616,
      0 12px 0 #141414,
      0 13px 0 #121212,
      0 19px 25px rgba(0, 0, 0, 0.9);
    margin-bottom: -15px;
    margin-top: 5px;
    /* background: red; */
}
.exercise_title_header {
    font-size: 50px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    text-transform:uppercase;
    line-height: 75px;
    color: #e0dfdc;
    letter-spacing: .1em;
    text-shadow:
      0 -2px 0 #fff,
      0 -1px 0 #2e2e2e,
      0 1px 0 #2c2c2c,
      0 2px 0 #2a2a2a,
      0 3px 0 #282828,
      0 4px 0 #262626,
      0 5px 0 #242424,
      0 6px 0 #222,
      0 7px 0 #202020,
      0 8px 0 #1e1e1e,
      0 9px 0 #1c1c1c,
      0 10px 0 #1a1a1a,
      0 12px 0 #181818,
      0 12px 0 #161616,
      0 12px 0 #141414,
      0 13px 0 #121212,
      0 19px 25px rgba(0, 0, 0, 0.9);
    margin-bottom: 10px;
    margin-top: 5px;
    /* background: red; */
}
#name{
  color: white;
}

.character_placement {
    /* Character */
    /* background: orange; */
    margin: 0 auto;
    text-align: center;

}
.character_placement img{
    /* Character */
    height: 250px;
    width: auto;

}
.xp_bar{
  width: 20px;
  background: gray;
}

.progress_container{
    /* background: blue; */
    text-align: center;
}

.progress{
  background: black;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button_container{
  text-align: center;
  /* background: red; */
}
.window{
  margin: 30px auto 0 auto;
  height: 300px;
  width: 300px;
  text-align: center;
  background:url('/images/battle-bg.gif') no-repeat center;
  background-blend-mode:hard-light;
  border-radius: 20px;
  border: none;
  box-shadow:  5px 5px 10px #363636,
               -5px -5px 10px #505050;
  box-shadow: inset 0px 0px 15px #000;
}

.character_battle_placement{
    /* Character */
    height: 120px;
    width: 90px;
    margin-top: 14px;
    margin-right: 150px;

}
.monster_battle_placement{
    /* Character */
    height: 120px;
    width: 90px;
    margin-left: 120px;
    margin-top: 10px;

}

.hp_bar{
  background: green;
  color: black;
}
.xp_bar{
  background: green;
  color: black;
}

.monster-hp{
  width: 150px;
  margin-left: 130px;

}
.exercise_video{
  width: 250px;
  border-radius: 30px;
}
.homescreen-button{
  font-weight: bold;
  margin: 10px;
  border: none;
  border-radius: 33px;
  background: #434343;
  box-shadow:  5px 5px 10px #363636,
               -5px -5px 10px #505050;
}
.exercise-button{
  height: 60px;
  font-weight: bold;
  margin: 10px 0 10px 0;
  border: none;
  border-radius: 25px;
  background: #434343;
  box-shadow:  5px 5px 10px #363636,
               -5px -5px 10px #505050;
}
.profile-button{
  font-weight: bold;
  margin: 10px;
  border: none;
  border-radius: 33px;
  background: #434343;
  box-shadow:  5px 5px 10px #363636,
               -5px -5px 10px #505050;
}
.battle-button{
  font-weight: bold;
  margin: 10px;
  border: none;
  border-radius: 33px;
  background: #434343;
  box-shadow:  5px 5px 10px #363636,
               -5px -5px 10px #505050;
}
.profile-field{
  color: white;
  background: black;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
  text-indent: 10px;
  padding: 10px;

}
.profile-container{
  width: 300px;
  height: 500;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  border-radius: 33px;
  background: #434343;
  box-shadow:  5px 5px 10px #363636,
               -5px -5px 10px #505050;

}
.profile-stats-container h4{
  color: white;
}
